@import "resets/normalize.css";
@import "resets/reset.local.css";

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    /* Primary color */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /*Neutral colors */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    background-image: url("../images/bg-pattern-top-mobile.svg");
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

main {
    margin: 80px 24px;
}

section {
    width: 100%;
    text-align: center;
}

.intro {
    color: var(--very-dark-magenta);
}

.intro__heading {
    font-size: 32px;
    font-weight: 700;
}

.intro__subtitle {
    margin-top: 18px;
    margin-bottom: 40px;
}

.five-stars__item {
    background-color: var(--light-grayish-magenta);
    margin-bottom: 16px;
    border-radius: 5px;
    height: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.five-stars__icons {
    background-image: url("../images/icon-star.svg");
    width: 85px;
    height: 16px;
    margin-bottom: 16px;
    margin-top: 16px
}

.five-stars__description {
    font-weight: 700;
    font-size: 13px;
    color: var(--very-dark-magenta)
}

.review {
    border-radius: 5px;
    background-color: var(--very-dark-magenta);
    color: var(--white);
    margin-bottom: 16px;
    padding: 40px 32px 32px 32px;
}

.review__authorbox {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    text-align: left;
}

.review__authoravatar {
    width: 40px;
    height: 40px;
    margin-right: 23px;
    border-radius: 50%;
}

.review__authorname {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
}

.review__authorstatus {
    color: var(--soft-pink);
    font-size: 13px;
}

.review__text {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }